@model string
@{
    string updateTargetId = Model;
    string view;
    if(updateTargetId == "answeredQuestionsPane")
    {
        view = "answered";
    }
    else
    {
        view = "all";
    }
}
<!--Update Modal-->
<div class="modal inmodal" id="editAnswerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Answer Question</h4>
                <p>.</p>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("UpdateAnswer",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = updateTargetId,
                    OnSuccess = "AnswerUpdated"
                }))
                {
                    <label class="col-form-label"><h3><b id="modal-question-update">Question : </b></h3></label>
                    <div class="form-group">
                        <label for="answerText" class="col-form-label" id="modal-answer-update">Answer:</label>
                        <textarea required class="form-control" name="answer" id="answerText" rows="5"></textarea>
                        <input type="number" hidden name="id" id="modal-question-id-update">
                        <input name="view" value="@view" hidden />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" onclick="$('#editAnswerModal').modal('hide');" class="btn btn-primary">Update changes</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>