@model RetailViewModel
@{
    RequireScript(Url.Content("~/Plugins/FAQPlugin/Resource/notification.js"));
}
@{
    int prodId = Model.AskQuestionModel.ProductId;

  
}
<div style="display:flex;justify-content:space-around;align-content:center;align-items:center;">
        <div id="successMessage"style="display:none;max-width:200px;margin:20px;" class="alert alert-success text-center">Question submitted successfully!</div>

    </div>
<div id="tabs" class="tabs product-tabs" style="margin:20px;padding-bottom:60px">
    <div class="" style="cursor:pointer;background-color:white;min-height:60px;display:flex;justify-content:space-between;align-items:center;">
        <h3 class="my-0" data-toggle="collapse" style="margin-left:15px;" href="#tab-con">Frequently Asked Questions</h3>
      
        <button type="button" class="btn btn-primary my-0" data-toggle="modal" style="margin-right:15px;" data-target="#askQuestionModal">Ask a Question</button>
    </div>
    <div id="tab-con" class="tab-content collapse">
        <div class="ibox-content">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                @foreach (var faq in Model.QuestionsList)
                {
                    var faqId = $"faq-{faq.FAQId}"; 

                    <div class="card mb-4">
                        <div class="card-header" role="tab" id="heading-@faqId" style="padding: 20px;">
                            <h4 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-@faqId" aria-expanded="false" aria-controls="collapse-@faqId">
                                    @faq.Question <i class="fa fa-arrow-down"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-@faqId" class="collapse" role="tabpanel" aria-labelledby="heading-@faqId" data-parent="#accordion">
                            <div class="card-body" style="padding: 20px;">
                                <h5>
                                    <i>
                                        @faq.Answer
                                    </i>
                                </h5>
                            </div>
                        </div>
                    </div>
                }
                <div class="pull-right mx-3"></div>
            </div>
            <div class="sticky-footer"></div>
        </div>
    </div>
</div>


@Html.Partial("~/Plugins/FAQPlugin/Views/_AskQuestion.cshtml", Model.AskQuestionModel)
            
