@model  FAQSettings
@{
    ViewBag.Title = "Configure FAQ Plugin";
    ViewBag.PageCaption = "Configure  Settings";
}
<div class="wrapper wrapper-content animated fadeInRight" id="containerId">
    <div class="ibox float-e-margins py-3">
        <div class="ibox-title">
            <div class="col-md-10">
                <h5> Settings</h5>
            </div>
           
        </div>
        <div class="row">
        
     
        </div>
        <div class="ibox-content">
            @using (Html.BeginForm("SaveSettings", "FAQAdmin", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                  
                    <div class="checkbox checkbox-success">
                        @Html.CheckBoxFor(m => m.AllowAnonymousUsers)
                        <label for="TellAFriendCaptcha" class="tooltip-label" data-content="If checked, Users that are not logged in can ask questions about products">Allow Anonymous Users To Ask Questions</label>
                    </div>
                </div>

                <div class="form-group">
                   
                    <label class="tooltip-label" data-content="This will appears as the 'Answered By' in product'QnA">Default Responder's' Name</label>
                    @Html.TextBoxFor(model => model.DefaultResponderName, new { @class = "form-control", style = "width:50%;" })
                </div>

                <div class="form-group">
                    <div class="row">
                    <div class="col-md-2">
                        <a class="btn btn-default" href="@Url.Action("Index","FAQAdmin")">back</a>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" value="Save Settings" class="btn btn-primary" />
                    </div>
                        <div class="col-md-7">

                        </div>

                    </div>
                </div>
            }
            @if (ViewBag.Success != null && ViewBag.Success)
            {
                <div id="successMessage" class="text-success text-center mt-4">
                    <h5>Your settings have been updated!</h5>
                </div>
            }
        </div>



    </div>
</div>