@{
    ViewBag.Title = "Manage FAQs";
    ViewBag.PageCaption = "Frequently Asked Questions";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins py-3">
        <div class="ibox-title">
            <h5>Manage FAQs</h5>
        </div>
        <div class="ibox-content">
            <div id="tabs" class="tabs product-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li id="answerQuestionsTab" class="active">
                        <a href="#unanswerQuestionsPane" role="tab" data-toggle="tab" aria-controls="answer-questions" aria-expanded="true">UnAnswered Questions</a>
                    </li>
                    <li id="answeredQuestionsTab">
                        <a href="#answeredQuestionsPane" role="tab" data-toggle="tab" aria-controls="answered-questions" aria-expanded="false">Answered Questions</a>
                    </li>
                    <li id="allQuestionsTab">
                        <a href="#allQuestionsPane" role="tab" data-toggle="tab" aria-controls="all-questions" aria-expanded="false">All Questions</a>
                    </li>
                </ul>
                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active in" id="unanswerQuestionsPane">

                        @Html.Action("Unanswered", "FAQAdmin")

                    </div>

                    <div role="tabpanel" class="tab-pane" id="answeredQuestionsPane">

                        @Html.Action("Answered", "FAQAdmin")

                    </div>

                    <div role="tabpanel" class="tab-pane" id="allQuestionsPane">

                        @Html.Action("All", "FAQAdmin")

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Edit Answer Modal -->


<!-- Delete Confirmation Modal -->


@section Scripts {
    <script>
        function toggleIcon(data) {
            console.log("toggle icon triggered");
            let element = document.getElementById("iconid");
            if (element) {
                let currentClass = element.className;
                if (currentClass.includes("fa fa-eye")) {
                    element.classList.remove("fa", "fa-eye");
                    element.classList.add("fa", "fa-eye-slash");
                } else if (currentClass.includes("fa fa-eye-slash")) {
                    element.classList.remove("fa", "fa-eye-slash");
                    element.classList.add("fa", "fa-eye");
                }
                else if (currentClass.includes("fa-eye-slash fa")) {
                    element.classList.remove("fa-eye-slash", "fa");
                    element.classList.add("fa", "fa-eye");
                }
                else if (currentClass.includes("fa-eye fa")) {
                    element.classList.remove("fa-eye", "fa");
                    element.classList.add("fa", "fa-eye-slash");
                }
            } else {
                console.error(`Element with ID "iconid" not found.`);
            }
        }
    </script>
}
